<h2 class="display-7">Login</h2>

<form class="form login-form">
 
  <div class="form-group">
    <label class="display-7" for="password-login">Password</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
   <div class="form-group">
    <label class="display-7" for="display_name">Name</label>
    <input class="form-input" type="text" id="display_name" />
  </div>
  <div class="form-group">
    <button class="btn alert-dark" type="submit">login</button>
    <a>Sign up HERE!</a>
        <a href="/signup" class="btn alert-dark" id="signupBtn">Sign Up</a>
  </div>
    <div class="form-group text-center">
      </div> 
</form>

<script src="/js/login.js"></script>